*{margin:0; padding:0;}
*,:after,:before{box-sizing:border-box}
input,textarea,button {outline: none;}
ul li{list-style:none;}
html,body,#app{border:none;width: 100%;height: 100%;font-family: '微软雅黑'; font-size: 14px;color: #2c3e50; background: #EDEDED}
.shadow{box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.9);}
.clear{clear:both;}
/*header*/
.header{background: #FFF;padding: 0 20px;height: 80px;line-height: 80px;}
.header .logo{display: inline-block;line-height: 80px;font-size: 20px;font-weight: bold;cursor: pointer;}
.header .logo i{font-weight: normal;font-size: 12px;}
/*middle*/
.middle{width:100%;height: calc(100% - 160px);margin:10px 0;}
/*middle——content*/
.middle .content{width:1000px; margin:0 auto; height:100%;background:#FFF;padding: 0 20px;}
/*middle—content—input-group*/
.middle .content .input-group{height: 50px;line-height: 50px;}
.middle .content .input-group label, input, button{display: inline-block}
.middle .content .input-group input, button{height: 30px;border:1px solid #666; background: none;border-radius: 4px;margin: 0 10px;}
.middle .content .input-group input{padding: 0 10px; width: 500px;}
.middle .content .input-group button{padding: 0 20px;cursor: pointer}
/*middle—content—message-group*/
.middle .content .message-group{border:1px solid #666;height: calc(100% - 200px);overflow-y: auto;}
.middle .content .message-group .info{margin: 10px 20px;min-height: 40px; line-height: 40px;}
.middle .content .message-group .info span{display: inline-block;}
.middle .content .message-group .info span:nth-of-type(1){width: 40px;height: 40px;font-size: 12px;border-radius: 50%;background: red;color: #FFF;text-align: center}
.middle .content .message-group .info span:nth-of-type(2){color: #C1C1C1;padding: 0 2px;}
.middle .content .message-group .info span:nth-of-type(3){width:750px;}
.middle .content .message-group .server{text-align: left;}
.middle .content .message-group .server span:nth-of-type(2):after{content: ':';padding: 0 2px;color: #000}
.middle .content .message-group .self{ text-align: right;}
.middle .content .message-group .self span{float: right}
.middle .content .message-group .self span:nth-of-type(1){background: green}
.middle .content .message-group .self span:nth-of-type(2){padding: 0 4px;}
.middle .content .message-group .self span:nth-of-type(2):before{content: ':';padding: 0 2px;color: #000}
/*middle—content—send-group*/
.middle .content .send-group{height: 100px;}
.middle .content .send-group textarea{height: 100px; width: 100%;border:1px solid #666;border-top: none;padding: 10px;resize:none;}
.middle .content .send-group p{text-align: right;height: 50px;line-height: 50px;}
.middle .content .send-group button{height: 30px;padding: 0 20px;border:1px solid #666; background: none;border-radius: 4px; cursor: pointer; margin:10px 0}
/*footer*/
.footer{background: #FFF;border-top: 1px solid #E1E1E1;height: 60px;line-height: 60px;text-align: center;}

::-webkit-scrollbar {width: 5px;background-color: lightgray;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);border-radius: 5px;background-color: lightgray;}
::-webkit-scrollbar-thumb {border-radius: 5px;-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);background-color: #999;}
::-webkit-scrollbar-button {background-color: lightgray;border: 1px solid #CCC;}